.categoriesPanel {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewMenue{
    background-color: lightgreen;
    width: 25%;
    height: 100%;
}

.actionPanel{
    background-color: yellow;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionPanel * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionFrame{
    align-items: center;
    justify-content: center;
    background-color: purple;
    width:250px;
    height:250px;
    float: left;
    clear: none;
}

.viewMenue > div > button{
    font-size: 34px;
    margin-left: 20px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 70%;
    text-align: left;
}