
.locationsMenuePanel{
    background-color: green;
    height: 100%;
    width:25%;
}

.locationsPanel{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

.wrapper{
    width: 75%;
    height: 100%;
}

.mapComponent{
    background-color: gray;
    height:75%;
    overflow:hidden;
}

.currentLocation{
    background-color: yellow;
    overflow:hidden;
    height:25%;
}

.locationsViewBar{
    overflow:hidden;
    height: 40px;
    background-color: pink;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

.locationLink > .boldButton{
    background-color: blue;
}

.locationLink > button{
    font-size: 22px;
    margin-left: 20px;
    margin-top:10px;
    background-color: yellowgreen;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 70%;
    text-align: left;
}
